<h2>Login</h2>
<form (ngSubmit)="onSubmit()" #loginForm="ngForm">

    <div ngModelGroup="login" #loginInputs="ngModelGroup">
        <div class="form-group">
            <button [disabled]="!useEmail" (click)="changeLoginField()">Username</button>
            <button [disabled]="useEmail" (click)="changeLoginField()">Email</button>
            <br>
            <input *ngIf="useEmail === false" type="text" class="form-control" id="username" 
                required [(ngModel)]="login.username" name="username">
            <input *ngIf="useEmail === true" type="text" class="form-control" id="email" 
                required [(ngModel)]="login.email" name="email">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <br>
            <input type="text" class="form-control" id="password"
                required [(ngModel)]="login.password" name="password">
        </div>
    </div>

    <button type="submit" [disabled]="!loginForm.form.valid">Submit</button>
    <!-- By Chad, mainly for testing -->
    <h4>Also Check console.log!</h4>
    <pre>Form JSON: {{login | json}}</pre>
</form>

