<div>
    <h2 class="text-center">Report a Facility Issue</h2>

    <form [formGroup]="addReportGroup" (ngSubmit)="onSubmit()">

        <label>Title:</label>
        <input type="text" formControlName="title">

        <label>Description:</label>
        <input class="description" type="text" formControlName="description">

        <button class="mybtn" type="submit" [disabled]="!addReportGroup.valid">Submit</button>
    </form>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let element of reportList">
            <p class="fw-bold">Title: <span class="fw-normal">{{element.title}}</span></p>
            <p class="fw-bold">Date: <span class="fw-normal">{{element.reportDate}}</span></p>
            <p class="fw-bold">Description: <span class="fw-normal">{{element.description}}</span></p>
            <p class="fw-bold">Created By: <span class="fw-normal">{{element.createdBy}}</span></p>
            <p class="fw-bold">Status: <span class="fw-normal">{{element.status}}</span></p>
        </li>
    </ul>
</div>