<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Address Info</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form (ngSubmit)="onSubmit(editAddressInfoForm)" #editAddressInfoForm="ngForm">
        <div ngModelGroup="addressInfo" #addressInfoInputs="ngModelGroup">

            <div class="form-group">
                <label for="street">Street: </label>
                <input type="text" class="form-control" id="street" name="street" [ngModel]="addressInfo.street" required>
            </div>

            <div class="form-group">
                <label for="city">City: </label>
                <input type="text" class="form-control" id="city" name="city" [ngModel]="addressInfo.city" required>
            </div>

            <div class="form-group">
                <label for="state">State: </label>
                <input type="text" class="form-control" id="state" name="state" [ngModel]="addressInfo.state" required>
            </div>

            <div class="form-group">
                <label for="zip">ZIP: </label>
                <input type="number" class="form-control" id="zip" name="zip" [ngModel]="addressInfo.zip" required>
            </div>
            <div class="text-danger" *ngIf="!editAddressInfoForm.form.valid">
                Complete all address fields.
            </div>
        </div>
        <!-- TODO: Cancel To Trigger Guard That Displays Alert??? -->
        <button type="button" (click)="displayCancel()">Cancel</button>
        <button type="submit" [disabled]="!editAddressInfoForm.form.valid">Submit</button>
    </form>
</div>