<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
	<ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
		<th mat-header-cell *matHeaderCellDef> {{column}} </th>
		<td mat-cell *matCellDef="let element"> {{element[column]}} </td>
	</ng-container>

	<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
	<ng-container matColumnDef="expandedDetail">
		<td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
			<div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
				<div class="editInfo">
					<form (ngSubmit)="onSubmit(editVisaStatusForm, dataSource.indexOf(element) + 1)" #editVisaStatusForm="ngForm">
						<label>Legal Name</label>
						<input [disabled]="true" value="{{element.fullname}}">
						<label>Type</label>
						<!-- <input [disabled]="!isEdit" [(ngModel)]="element.workauth"> -->
						<select [disabled]="!isEdit" id="type" name="type" [ngModel]="element.workAuth">
							<option *ngFor="let workAuth of workAuthorizationTypes" value="{{workAuth}}">{{workAuth}}</option>
						</select>
						<label>Start Date</label>
						<input name="dateStart" type="date" [disabled]="!isEdit" [ngModel]="element.startdate">
						<br>
						<label>End Date</label>
						<input name="dateEnd" type="date" [disabled]="!isEdit" [ngModel]="element.expdate">
						This is stuff for the form to be edited.
						<button *ngIf="!isEdit" type="button" (click)="toggleIsEdit()">Edit</button>
						<button type="submit" *ngIf="isEdit">Save</button>
					</form>
				</div>

				<div>
					<!-- DOCUMENTS -->
					<div *ngFor="let filename of element.filenames">
						<button (click)="handleDocDownload(filename)">{{filename}}</button>
					</div>
					<div *ngIf="isEdit">
						<input type="file" (change)="selectFile($event)" />
						<button class="btn btn-success btn-sm" (click)="handleDocUpload(element.email)"
							[disabled]="!selectedFiles">
							Upload file
						</button>
					</div>
					<!-- NEXT STEP -->
					<p>Next step: {{element.nextStep}}</p>
				</div>
			</div>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
	<tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
		[class.example-expanded-row]="expandedElement === element"
		(click)="expandedElement = expandedElement === element ? null : element"
		(click)="isEdit = false">
	</tr>
	<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>