<div class="modal-header">
    <h4 class="title" id="modal-basic-title">Application Review</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="personalInfoTab">
        <form [formGroup]="personalInfoForm" (ngSubmit)="onSubmit()">

            <div class="box-email">
                <label class="email-label">User's Registration Email</label>
                <input type="text" disabled value="{{email}}">
            </div>

            <div class="bigbox">

                <div class="box">
                    <h3>Personal Info</h3>
                    <div class="application-item">
                        <input type="text" id="comment-first-name" name="comment-first-name" formControlName="firstname"
                            placeholder="Add comments here...">
                        <input type="text" id="first-name" name="first-name" disabled
                            value="{{applicationInfo.firstname}}">
                        <label for="first-name">First name</label>
                    </div>

                    <div class="application-item">
                        <input type="text" id="comment-last-name" name="comment-last-name" formControlName="lastname"
                            placeholder="Add comments here...">
                        <input type="text" id="last-name" name="last-name" disabled
                            value="{{applicationInfo.lastname}}">
                        <label for="last-name">Last name</label>
                    </div>

                    <div class="application-item">
                        <input type="text" formControlName="preferredName" placeholder="Add comments here...">
                        <input type="text" disabled value="{{applicationInfo.preferredName}}">
                        <label>Preferred Name</label>
                    </div>

                    <div class="application-item">
                        <input type="text" id="comment-ssn" name="comment-ssn" formControlName="ssn"
                            placeholder="Add comments here...">
                        <input type="text" id="ssn" name="ssn" disabled value="{{applicationInfo.ssn}}">
                        <label for="ssn">SSN</label>
                    </div>

                </div>

                <div class="box">
                    <h3>Address</h3>
                    <div class="application-item">
                        <input type="text" formControlName="street" placeholder="Add comments here...">
                        <input type="text" disabled value="{{applicationInfo.street}}">
                        <label>Street</label>
                    </div>

                    <div class="application-item">
                        <input type="text" formControlName="city" placeholder="Add comments here...">
                        <input type="text" disabled value="{{applicationInfo.city}}">
                        <label>City</label>
                    </div>

                    <div class="application-item">
                        <input type="text" formControlName="state" placeholder="Add comments here...">
                        <input type="text" disabled value="{{applicationInfo.state}}">
                        <label>State</label>
                    </div>

                    <div class="application-item">
                        <input type="text" formControlName="zip" placeholder="Add comments here...">
                        <input type="number" disabled value="{{applicationInfo.zip}}">
                        <label>ZIP Code</label>
                    </div>
                </div>

                <div class="box">
                    <h3>Contact</h3>

                    <div class="application-item">
                        <input type="text" formControlName="personalEmail" placeholder="Add comments here...">
                        <input type="text" disabled value="{{applicationInfo.personalEmail}}">
                        <label>Personal Email</label>
                    </div>

                    <div class="application-item">
                        <input type="text" formControlName="workEmail" placeholder="Add comments here...">
                        <input type="text" disabled value="{{applicationInfo.workEmail}}">
                        <label>Work Email</label>
                    </div>

                    <div class="application-item">
                        <input type="text" formControlName="cellphone" placeholder="Add comments here...">
                        <input type="number" disabled value="{{applicationInfo.cellphone}}">
                        <label>Cell Phone</label>
                    </div>

                    <div class="application-item">
                        <input type="text" formControlName="workphone" placeholder="Add comments here...">
                        <input type="number" disabled value="{{applicationInfo.workphone}}">
                        <label>Work Phone</label>
                    </div>
                </div>

                <div class="box">
                    <h3>Visa</h3>

                    <div class="application-item">
                        <input type="text" formControlName="visaType" placeholder="Add comments here...">
                        <input type="text" disabled value="{{applicationInfo.visaType}}">
                        <label>Visa Type</label>
                    </div>

                    <div class="application-item">
                        <input type="text" formControlName="visaStartDate" placeholder="Add comments here...">
                        <input type="text" disabled value="{{applicationInfo.visaStartDate}}">
                        <label>Start Date</label>
                    </div>

                    <div class="application-item">
                        <input type="text" formControlName="visaEndDate" placeholder="Add comments here...">
                        <input type="text" disabled value="{{applicationInfo.visaEndDate}}">
                        <label>Expire Date</label>
                    </div>
                </div>

                <div class="box2">
                    <input type="text" formControlName="references" placeholder="Add comments here...">
                    <h3>References</h3>
                    <div *ngIf="references.length === 0">None</div>

                    <div class="contact-item" *ngFor="let refInfo of references">

                        <div class="application-item">
                            <input type="text" disabled value="{{refInfo.firstname}} {{refInfo.lastname}}">
                            <label>Full Name</label>
                        </div>
                        <div class="application-item">
                            <input type="text" disabled value="{{refInfo.phone}}">
                            <label>Phone</label>
                        </div>
                        <div class="application-item">
                            <input type="text" disabled value="{{refInfo.email}}">
                            <label>Email</label>
                        </div>
                        <div class="application-item">
                            <input type="text" disabled value="{{refInfo.relationship}}">
                            <label>Relationship</label>
                        </div>
                    </div>

                </div>

                <div class="box2">
                    <input type="text" formControlName="emergencyContacts" placeholder="Add comments here...">
                    <h3>Emergency Contacts</h3>

                    <div class="contact-item" *ngFor="let emergencyContactInfo of emergencyContacts">

                        <div class="application-item">
                            <input type="text" disabled
                                value="{{emergencyContactInfo.firstname}} {{emergencyContactInfo.lastname}}">
                            <label>Full Name</label>
                        </div>
                        <div class="application-item">
                            <input type="text" disabled value="{{emergencyContactInfo.phone}}">
                            <label>Phone</label>
                        </div>
                        <div class="application-item">
                            <input type="text" disabled value="{{emergencyContactInfo.email}}">
                            <label>Email</label>
                        </div>
                        <div class="application-item">
                            <input type="text" disabled value="{{emergencyContactInfo.relationship}}">
                            <label>Relationship</label>
                        </div>
                    </div>

                </div>

                <div class="box2">
                    <input type="text" formControlName="documents" placeholder="Add comments here...">
                    <h3>Documents</h3>
                    <div *ngFor="let filename of filenames">
                        <button class="btn btn-link btn-sm" (click)="handleDocDownload(filename)">{{filename}}</button>
                    </div>
                </div>

                <div class="box">
                    <h3>Add Comment For Application</h3>
                    <input type="text" formControlName="general" placeholder="Add comments here...">
                </div>
            </div>

            <button type="submit" (click)="setApprove()" [hidden]="status !== 'pending'">Approve</button>
            <button type="submit" (click)="setReject()" [hidden]="status !== 'pending'">Reject</button>
            <button type="button" (click)="displayCancel()" [hidden]="status !== 'pending'">Cancel</button>
        </form>
    </div>
    <!-- </mat-tab> -->
    <!-- <mat-tab label="Contact">  -->
    <div class="contactTab">

    </div>
    <!-- </mat-tab> -->
    <!-- <mat-tab label="Files">  -->
    <div class="filesTab">

    </div>
    <!-- </mat-tab> -->
    <!-- </mat-tab-group> -->
</div>