<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Application Review</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <!-- TODO - APPLICATION -->
    <!-- <mat-tab-group> -->
        <!-- <mat-tab label="Personal Info">  -->
            <div class="personalInfoTab">
                <label for="email">User's registration email:</label>
                <input type="text" id="email" name="email" disabled value="{{application}}"><!--.email-->
                <div class="application-item">
                    <input type="text" id="comment-first-name" name="comment-first-name" placeholder="Add comments here...">
                    <input type="text" id="first-name" name="first-name" disabled value="{{application}}"> <!--.firstname-->
                    <label for="first-name">First name</label>
                </div>

                <div class="application-item">
                    <input type="text" id="comment-last-name" name="comment-last-name" placeholder="Add comments here...">
                    <input type="text" id="last-name" name="last-name" disabled value="{{application}}"> <!--.lastname-->
                    <label for="last-name">Last name</label>
                </div>

                <div class="application-item">
                    <input type="text" id="comment-middle-name" name="comment-middle-name" placeholder="Add comments here...">
                    <input type="text" id="middle-name" name="middle-name" disabled value="{{application}}"> <!--.middlename-->
                    <label for="middle-name">Middle name</label>
                </div>

                <div class="application-item">
                    <input type="text" id="comment-ssn" name="comment-ssn" placeholder="Add comments here...">
                    <input type="text" id="ssn" name="ssn" disabled value="{{application}}"> <!--.ssn-->
                    <label for="ssn">SSN</label>
                </div>

                <div class="application-item">
                    <input type="text" id="comment-gender" name="comment-gender" placeholder="Add comments here...">
                    <input type="text" id="gender" name="gender" disabled value="{{application}}"> <!--.gender-->
                    <label for="gender">Gender</label>
                </div>

                <div class="application-item">
                    <input type="text" id="comment-dob" name="comment-dob" placeholder="Add comments here...">
                    <input type="text" id="dob" name="dob" disabled value="{{application}}"> <!--.dob-->
                    <label for="dob">Date of birth</label>
                </div>

                <div class="application-item">
                    <input type="text" id="comment-work-auth" name="comment-work-auth" placeholder="Add comments here...">
                    <input type="text" id="work-auth" name="work-auth" disabled value="{{application}}"> <!--.workauth-->
                    <label for="work-auth">Work Authorization</label>
                </div>

                <div class="application-item">
                    <input type="text" id="comment-auth-start" name="comment-auth-start" placeholder="Add comments here...">
                    <input type="text" id="auth-start" name="auth-start" disabled value="{{application}}"> <!--.authstart-->
                    <label for="auth-start">Authorization Start</label>
                </div>

                <div class="application-item">
                    <input type="text" id="comment-auth-end" name="comment-auth-end" placeholder="Add comments here...">
                    <input type="text" id="auth-end" name="auth-end" disabled value="{{application}}"> <!--.authend-->
                    <label for="auth-end">Authorization End</label>
                </div>

                <div class="application-item">
                    <input type="text" id="comment-driver-liscense" name="comment-driver-liscense" placeholder="Add comments here...">
                    <input type="text" id="driver-liscense" name="driver-liscense" disabled value="{{application}}"> <!--.driverliscense-->
                    <label for="driver-liscense">Driver Liscense</label>
                </div>

                <div class="application-item">
                    <input type="text" id="comment-liscense-exp-date" name="comment-liscense-exp-date" placeholder="Add comments here...">
                    <input type="text" id="liscense-exp-date" name="liscense-exp-date" disabled value="{{application}}"> <!--.liscenseexpdate-->
                    <label for="liscense-exp-date">Liscense Expiration Date</label>
                </div>

                <div class="application-item">
                    <input type="text" id="comment-primary-phone" name="comment-primary-phone" placeholder="Add comments here...">
                    <input type="text" id="primary-phone" name="primary-phone" disabled value="{{application}}"> <!--.primaryphone-->
                    <label for="primary-phone">Primary Phone</label>
                </div>

                <div class="application-item">
                    <input type="text" id="comment-car" name="comment-car" placeholder="Add comments here...">
                    <input type="text" id="car" name="car" disabled value="{{application}}"> <!--.car-->
                    <label for="car">Car</label>
                </div>

                <div class="application-item">
                    <input type="text" id="comment-alternative-phone" name="comment-alternative-phone" placeholder="Add comments here...">
                    <input type="text" id="alternative-phone" name="alternative-phone" disabled value="{{application}}"> <!--.alternativephone-->
                    <label for="alternative-phone">Alternative Phone</label>
                </div>
                
                <button>Approve</button>
                <button>Reject</button>
                <button>Cancel</button>
            </div>
        <!-- </mat-tab> -->
        <!-- <mat-tab label="Contact">  -->
            <div class="contactTab">

            </div>
        <!-- </mat-tab> -->
        <!-- <mat-tab label="Files">  -->
            <div class="filesTab">

            </div>
        <!-- </mat-tab> -->
    <!-- </mat-tab-group> -->
</div>