<h1>Application Status</h1>
<p class="label">Your application status: <span class="status">{{status}}</span></p>

<div *ngIf="status === 'rejected'">
    <p class="new">Submit a new <a href="/onboarding">Onboarding Application</a></p>

    <!-- display comments -->
    <h2>Comments</h2>

    <div *ngIf="comment.general !== ''" class="comment-box">
        <h3>General Application Comment</h3>
        <p>{{comment.general}}</p>
    </div>

    <div *ngIf="this.personalComments.length > 0" class="comment-box">
        <h3>Personal Info</h3>
        <p *ngFor="let c of this.personalComments">{{c}}</p>
    </div>

    <div *ngIf="this.addressComments.length > 0" class="comment-box">
        <h3>Address Info</h3>
        <p *ngFor="let c of this.addressComments">{{c}}</p>
    </div>

    <div *ngIf="this.contactComments.length > 0" class="comment-box">
        <h3>Contact Info</h3>
        <p *ngFor="let c of this.contactComments">{{c}}</p>
    </div>

    <div *ngIf="this.visaComments.length > 0" class="comment-box">
        <h3>Visa Info</h3>
        <p *ngFor="let c of this.visaComments">{{c}}</p>
    </div>

    <div *ngIf="comment.references !== ''" class="comment-box">
        <h3>References Info</h3>
        <p>{{comment.references}}</p>
    </div>

    <div *ngIf="comment.emergencyContacts !== ''" class="comment-box">
        <h3>Emergency Contacts Info</h3>
        <p>{{comment.emergencyContacts}}</p>
    </div>

    <div *ngIf="comment.documents !== ''" class="comment-box">
        <h3>Documents Info</h3>
        <p>{{comment.documents}}</p>
    </div>
</div>

<div *ngIf="status === 'notexist'">
    <p>You have not made an application yet.</p>
    <span>Create an <a href="/onboarding">Onboarding Application</a></span>
</div>