.master-container {
    display: flex;
    flex-direction: row;
    /* padding: 64px; */
}

body {
    margin: 0;
    padding: 0;
}

.main-content {
    padding-left: 128px;
    padding-top: 72px;
    padding-bottom: 72px;
}