<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<!-- Container wrapper -->
	<div class="container-fluid">

		<!-- Collapsible wrapper -->
		<div class="collapse navbar-collapse" id="navbarSupportedContent">

			<!-- Left links -->
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" routerLink="/onboarding" routerLinkActive="active">Onboarding</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/application-status" routerLinkActive="active">ApplicationStatus</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/employee/profile" routerLinkActive="active">Employee Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/employee/visa" routerLinkActive="active">Employee Visa</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/employee/housing" routerLinkActive="active">Employee Housing</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" routerLink="/hr/home" routerLinkActive="active">HR Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/hr/hire" routerLinkActive="active">HR Hire</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/hr/visa" routerLinkActive="active">HR Visa</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/hr/employee-list" routerLinkActive="active">HR EmployeeList</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/hr/housing" routerLinkActive="active">HR Housing</a>
				</li>
				
				<li class="nav-item">
					<a routerLink="/login" routerLinkActive="active">Login</a>
				</li>
				<li class="nav-item">
					<a routerLink="/register" routerLinkActive="active">Register</a>
				</li>
				<!-- <button (click)="logout()">Logout</button> -->
			</ul>
			<!-- Left links -->
		</div>

	</div>
	<!-- Container wrapper -->
</nav>




<!-- <nav>
	<ul>
		<li><a routerLink="/login" routerLinkActive="active">Login</a></li>
		<li><a routerLink="/register" routerLinkActive="active">Register</a></li>
		<li><a routerLink="/onboarding" routerLinkActive="active">Onboarding</a></li>
		<li><a routerLink="/application-status" routerLinkActive="active">Application Status</a></li>

		<div>
			<li><a routerLink="/employee/profile" routerLinkActive="active">Employee Profile</a></li>
			<li><a routerLink="/employee/visa" routerLinkActive="active">Employee Visa</a></li>
			<li><a routerLink="/employee/housing" routerLinkActive="active">Employee Housing</a></li>
			<li><a routerLink="/employee/facility-reports" routerLinkActive="active">Employee Facility Reports</a></li>
		</div>

		<div>
			<li><a routerLink="/hr/home" routerLinkActive="active">HR Home</a></li>
			<li><a routerLink="/hr/hire" routerLinkActive="active">HR Hire</a></li>
			<li><a routerLink="/hr/visa" routerLinkActive="active">HR Visa</a></li>
			<li><a routerLink="/hr/employee-list" routerLinkActive="active">HR Employee List</a></li>
			<li><a routerLink="/hr/housing" routerLinkActive="active">HR Housing</a></li>

		</div>

		<li><button (click)="logout()">Logout</button></li>
	</ul>
</nav> -->
<div class="master-container">
	<app-nav></app-nav>
	<router-outlet></router-outlet>
</div>