<nav>
  <ul>
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
    <li><a routerLink="/onboarding" routerLinkActive="active">Onboarding</a></li>
    <li><a routerLink="/employee/profile" routerLinkActive="active">Employee Profile</a></li>
    <li><a routerLink="/hr/home" routerLinkActive="active">HR Home</a></li>
    <li><a routerLink="/hr/hire" routerLinkActive="active">Hire</a></li>
    <li><a routerLink="/hr/visa" routerLinkActive="active">HR Visa</a></li>
    <li><a routerLink="/hr/employee-list" routerLinkActive="active">HR Employee List</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>