<pre>{{employeeProfile | json}}</pre>

<div class="bubble">
    <div class="content">
        <p class="fs-5 fw-bold">Full Name: {{employeeProfile.name}}</p>
    </div>
</div>

<div class="bubble">
    <div class="content">
        <p class="fs-5 fw-bold">Start Date: {{employeeProfile.startDate}}</p>
    </div>
</div>

<div class="bubble">
    <div class="content">
        <p class="fs-5 fw-bold">SSN: {{employeeProfile.ssn}}</p>
    </div>
</div>

<div class="bubble">
    <div class="content">
        <p class="fs-5 fw-bold">Visa Type: {{employeeProfile.visaStatus}}</p>
    </div>
</div>