<div>
    <h2>Onboarding Applications</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Email</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Visa Type</th>
                <th scope="col">Visa Start Date</th>
                <th scope="col">Visa End Date</th>
                <th scope="col">Application Status</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let app of applications; let i = index">
                <td>{{i + 1}}</td>
                <td>{{app.email}}</td>
                <td>{{app.firstname}}</td>
                <td>{{app.lastname}}</td>
                <td>{{app.visaType}}</td>
                <td>{{app.visaStartDate}}</td>
                <td>{{app.visaEndDate}}</td>
                <td *ngIf="app.status === 'approved'" class="text-success">{{app.status}}</td>
                <td *ngIf="app.status === 'rejected'" class="text-danger">{{app.status}}</td>
                <td *ngIf="app.status !== 'rejected' && app.status !== 'approved'" class="text-primary">{{app.status}}</td>
                <td>
                    <app-modal-container [applicationId]="i+1" [email]="app.email"></app-modal-container>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>