
<div class="parent1">
    <div class="child1">
        <app-employee-personal-info-modal></app-employee-personal-info-modal>
    </div>
    <div class="child1">
        <app-employee-employment-info-modal></app-employee-employment-info-modal>
    </div>
</div>

<div class="parent2">
    <div  class="child2">
        <app-employee-address-info-modal></app-employee-address-info-modal>
    </div>
    
    <div class="child2">
        <app-employee-contact-info-modal></app-employee-contact-info-modal>
    </div>
</div>

    <div>
        <app-employee-emergency-contact-info-modal></app-employee-emergency-contact-info-modal>
    </div>
    <div >
        <app-employee-ref-info-modal></app-employee-ref-info-modal>
    </div>
    <div >
        <app-employee-document-info-modal></app-employee-document-info-modal>
    </div>


