<h1>Personal Information</h1>
<app-employee-personal-info-modal [personalInfo]="personalInfo"></app-employee-personal-info-modal>
<!-- <app-employee-contact-info-modal [contactInfo]="contactInfo"></app-employee-contact-info-modal> -->
<app-employee-address-info-modal [addressInfo]="addressInfo"></app-employee-address-info-modal>
<app-employee-emergency-contact-info-modal [emergencyContactInfo]="emergencyContactInfo">
</app-employee-emergency-contact-info-modal>
<!-- <app-employee-employment-info-modal [employmentInfo]="employmentInfo"></app-employee-employment-info-modal> -->
<app-employee-document-info-modal [documentInfo]="documentInfo"></app-employee-document-info-modal>