<h2>Onboarding</h2>
<p>Application Form</p>

<p>Email: {{email}}</p>

<form [formGroup]="applicationForm" (ngSubmit)="onSubmit()">

    <div class="form-group" formGroupName="personalInfo">
        <h3>Personal Info</h3>

        <label for="first-name">First Name: </label>
        <input id="first-name" type="text" formControlName="firstName">
        <div class="text-danger" [hidden]="!applicationForm.get('personalInfo').get('firstName').hasError('minlength')">
            can not be shorter than 2 characters</div>
        <label for="last-name">Last Name: </label>
        <input id="last-name" type="text" formControlName="lastName">
        <div class="text-danger" [hidden]="!applicationForm.get('personalInfo').get('lastName').hasError('minlength')">
            can not be shorter than 4 characters</div>
        <label for="preferred-name">Preferred Name: </label>
        <input id="preferred-name" type="text" formControlName="preferredName">

        <label for="ssn">SSN: </label>
        <input id="ssn" type="number" formControlName="ssn">
        <div class="text-danger" [hidden]="!applicationForm.get('personalInfo').get('ssn').hasError('min') &&
        !applicationForm.get('personalInfo').get('ssn').hasError('max')">
            Invalid SSN</div>
    </div>

    <div class="form-group" formGroupName="addressInfo">
        
        <h3>Address Info</h3>

        <label for="street">Street: </label>
        <input id="street" type="text" formControlName="street">

        <label for="city">City: </label>
        <input id="city" type="text" formControlName="city">

        <label for="state">State: </label>
        <input id="state" type="text" formControlName="state">

        <label for="zip">Zip Code: </label>
        <input id="zip" type="number" formControlName="zip">
        <div class="text-danger" [hidden]="!applicationForm.get('addressInfo').get('street').hasError('required')
        && !applicationForm.get('addressInfo').get('city').hasError('required')
        && !applicationForm.get('addressInfo').get('state').hasError('required')
        && !applicationForm.get('addressInfo').get('zip').hasError('required')">
            Address is Required
          </div>
    </div>

    <div class="form-group" formGroupName="contactInfo">
        <h3>Contact Info</h3>

        <label for="personal-email">Personal Email: </label>
        <input id="personal-email" type="email" formControlName="personalEmail">
        <div class="text-danger" [hidden]="!applicationForm.get('contactInfo').get('personalEmail').hasError('email')">
            Invalid Email Type</div>

        <label for="work-email">Work Email: </label>
        <input id="work-email" type="email" formControlName="workEmail">
        <div class="text-danger" [hidden]="!applicationForm.get('contactInfo').get('workEmail').hasError('email')">
            Invalid Email Type</div>
        <label for="cell-phone">Cell Phone: </label>
        <input id="cell-phone" type="number" formControlName="cellPhone">
        <div class="text-danger" [hidden]="!applicationForm.get('contactInfo').get('cellPhone').hasError('min') &&
        !applicationForm.get('contactInfo').get('cellPhone').hasError('max')">
            Invalid Phone Number</div>
        <label for="work-phone">Work Phone: </label>
        <input id="work-phone" type="number" formControlName="workPhone">
        <div class="text-danger" [hidden]="!applicationForm.get('contactInfo').get('workPhone').hasError('min') &&
        !applicationForm.get('contactInfo').get('workPhone').hasError('max')">
            Invalid Phone Number</div>
    </div>

    <div class="form-group" formGroupName="visaInfo">

        <label for="is-permanent-resident">Are you a citizen or permanent resident of the U.S? </label>
        <input id="is-permanent-resident" type="checkbox" [checked]="isPermanentResident"
            (change)="onPermanentResidentChange()" />

        <div [hidden]="!isPermanentResident">
            <label for="resident-type">Green Card or Citizen:</label>
            <select formControlName="type" required>
                <option value="greencard">Green Card</option>
                <option value="citizen">Citizen</option>
            </select>
        </div>

        <div [hidden]="isPermanentResident">
            <label for="work-authorization">What is your work authorization?</label>
            <select formControlName="type" required>
                <option *ngFor="let workAuth of workAuthorizationTypes" [value]="workAuth">{{workAuth}}</option>
            </select>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <label for="work-start-date">Work Authorization Start Date:</label>
                <input id="work-start-date" formControlName="workDateStart" matInput
                    [matDatepicker]="workStartDatePicker">
                <mat-datepicker-toggle matSuffix [for]="workStartDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #workStartDatePicker></mat-datepicker>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field appearance="fill">
                <label for="work-end-date">Work Authorization End Date:</label>
                <input id="work-end-date" formControlName="workDateEnd" matInput [matDatepicker]="workEndDatePicker">
                <mat-datepicker-toggle matSuffix [for]="workEndDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #workEndDatePicker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="text-danger" [hidden]="!applicationForm.get('visaInfo').get('type').hasError('required')
        && !applicationForm.get('visaInfo').get('workDateStart').hasError('required')
        && !applicationForm.get('visaInfo').get('workDateEnd').hasError('required')">
            Visa Information is Required
          </div>
    </div>

    <div class="form-group" formGroupName="carInfo">
        <h4>Car Info</h4>

        <label for="car-maker">Maker: </label>
        <input id="car-maker" type="text" formControlName="maker">

        <label for="car-model">Model: </label>
        <input id="car-model" type="text" formControlName="model">

        <label for="car-color">Color: </label>
        <input id="car-color" type="text" formControlName="color">
    </div>

    <div class="form-group">
        <h4>References</h4>
        <button (click)="addReference()" type="button">Add References</button>

        <div formArrayName="references">
            <div *ngFor="let referenceGroup of references.controls; let i = index">

                <div [formGroupName]="i" class="form-group">
                    <label>First Name: </label>
                    <input type="text" formControlName="firstName">

                    <label>Last Name: </label>
                    <input type="text" formControlName="lastName">

                    <label>Phone: </label>
                    <input type="number" formControlName="phone">

                    <label>Email: </label>
                    <input type="email" formControlName="email">

                    <label>Relationship: </label>
                    <input type="text" formControlName="relationship">

                    <button (click)="deleteReference(i)" type="button">Remove</button>
                </div>

            </div>
        </div>
    </div>

    <div class="form-group">
        <h4>Emergency Contacts</h4>
        <button (click)="addEmergencyContact()" type="button">Add Emergency Contacts</button>

        <div formArrayName="emergencyContacts">
            <div *ngFor="let emergencyContactGroup of emergencyContacts.controls; let i = index">

                <div [formGroupName]="i" class="form-group">
                    <label>First Name: </label>
                    <input type="text" formControlName="firstName">

                    <label>Last Name: </label>
                    <input type="text" formControlName="lastName">

                    <label>Phone: </label>
                    <input type="number" formControlName="phone">

                    <label>Email: </label>
                    <input type="email" formControlName="email">

                    <label>Relationship: </label>
                    <input type="text" formControlName="relationship">

                    <button (click)="deleteEmergencyContact(i)" type="button">Remove</button>
                </div>

            </div>
        </div>
    </div>

    <div class="form-group">
        <h4>Documents</h4>
        <button (click)="addDocument()" type="button">Add Documents</button>

        <div formArrayName="documents">
            <div *ngFor="let documentGroup of documents.controls; let i = index">

                <div [formGroupName]="i" class="form-group">
                    <input type="file" formControlName="file">
                    <button (click)="deleteDocument(i)" type="button">Remove</button>
                </div>

            </div>
        </div>
    </div>

    <!-- <button type="submit" [disabled]="!applicationForm.valid">Submit</button> -->
    <button type="submit" [disabled]="!applicationForm.valid">submit</button>
    <pre>Form JSON: {{ applicationForm.value | json }}</pre>

</form>