<p>{{message}}</p>
<div>
    <input type="file" (change)="selectFile($event)" />
    <button class="btn btn-success btn-sm" (click)="handleDocUpload()" [disabled]="!selectedFiles"
        [hidden]="docType == ''">
        Upload file
    </button>
</div>

<div class="card w-75">
    <div class="card-body">
        <div class="fw-bold fs-4">{{visa.fullname}}</div>
        <br>
        <div class="text-muted">Email</div>
        <div>{{visa.email}}</div>
        <br>
        <div class="text-muted">Work Authorization</div>
        <div>{{visa.workAuth}}</div>

        <div class="text-muted">Authorization Days Left</div>
        <div>{{visa.daysLeft}}</div>

        <div class="text-muted">Authorization Start Date</div>
        <div>{{visa.startDate}}</div>

        <div class="text-muted">Authorization End Date</div>
        <div>{{visa.endDate}}</div>
        <br>
        <div class="fw-bold fs-5">Document Uploaded:</div>
        <div *ngFor="let document of documents">
            <div>
                ICON
            </div>
            <div>
                {{document.documentName}}
            </div>
            <div>
                download
            </div>
        </div>
    </div>
</div>