<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Employment Info</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <p>Work Auth: {{employmentInfo.workAuth}}</p>
    <p>Authorization Start Date: {{employmentInfo.authStart}}</p>
    <p>Authorization End Date: {{employmentInfo.authEnd}}</p>
    <p>Employment Start Date: {{employmentInfo.employmentStart}}</p>
    <p>Employment End Date: {{employmentInfo.employmentEnd}}</p>
</div>