<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Contact Info</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <p>Personal Email: {{contactInfo.personalEmail}}</p>
    <p>Work Email: {{contactInfo.workEmail}}</p>
    <p>Cell Phone: {{contactInfo.cellphone}}</p>
    <p>Work Phone: {{contactInfo.workphone}}</p>
</div>
