<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Personal Info</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form (ngSubmit)="onSubmit(editPersonalInfoForm)" #editPersonalInfoForm="ngForm">
        <div ngModelGroup="personalInfo" #personalInfoInputs="ngModelGroup">
            <div class="form-group">
                <label for="firstname">First Name: </label>
                <input type="text" class="form-control" id="firstname" name="firstname"
                    [ngModel]="personalInfo.firstname" #firstname="ngModel" minlength="2" required>
                <div *ngIf="firstname.errors?.['required']" class="text-danger">
                    First name required.
                </div>
                <div *ngIf="firstname.errors?.['minlength']" class="text-danger">
                    Cannot be shorter than 2 characters.
                </div>
            </div>

            <div class="form-group">
                <label for="lastname">Last Name: </label>
                <input type="text" class="form-control" id="lastname" name="lastname" [ngModel]="personalInfo.lastname" #lastname="ngModel" required minlength="4">
                <div *ngIf="lastname.errors?.['required']" class="text-danger">
                    Last name required.
                </div>
                <div *ngIf="lastname.errors?.['minlength']" class="text-danger">
                    Cannot be shorter than 4 characters.
                </div>
            </div>

            <div class="form-group">
                <label for="preferredname">Preferred Name: </label>
                <input type="text" class="form-control" id="preferredname" name="preferredname"
                    [ngModel]="personalInfo.preferredname">
            </div>

            <div class="form-group">
                <label for="ssn">SSN: </label>
                <input type="number" class="form-control" id="ssn" name="ssn" [ngModel]="personalInfo.ssn" 
                #ssn="ngModel" required min="10000000" max="100000000">
                <div *ngIf="ssn.errors?.['required']" class="text-danger">
                    SSN required.
                </div>
                <div *ngIf="ssn.errors?.['min'] || ssn.errors?.['max']" class="text-danger">
                    Invalid SSN.
                </div>
            </div>

        </div>
        <button type="button" (click)="displayCancel()">Cancel</button>
        <button type="submit" [disabled]="!editPersonalInfoForm.form.valid">Submit</button>
    </form>
</div>