<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Personal Info</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <p>Full name: {{personalInfo.firstname}} {{personalInfo.lastname}}</p>
    <p>Age: {{personalInfo.age}} </p>
    <p>SSN #: {{personalInfo.ssn}}</p>
    <p>Date of Birth: {{personalInfo.dob}}</p>
</div>
